<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rjq.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //照相
    <uses-permission android:name="android.permission.CAMERA" />
    //录音
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- autoLayout -->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- </>autolayout -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.rjq.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/ThemeWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ResActivity" />
        <activity android:name=".activity.ClassifyResActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.AlterPwdActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.AccountActivity"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".activity.AddressActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.SuccessBuyActivity" />
        <activity android:name=".activity.CouponActivity" />
        <activity android:name=".activity.AlterPhoneActivity" />
        <activity android:name=".activity.ConfigActivity" />
        <activity android:name=".activity.OtherProcessActivity"
            android:process=":test"
            android:taskAffinity=".gll"></activity>
    </application>

</manifest>